<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Dashboard" }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <%- include('./partials/sidebar.ejs', {user}) %>
        <div class="account-wrapper">
          <div class="admin">
            <h2>Admin Dashboard</h2>
            <div class="card-wrapper">
              <div class="card-count">
                <h3>User Count</h3>
                <% if (typeof users !== "undefined") { %>
                <h4><%= users.length %></h4>
                <% } %>
              </div>
              <div class="card-count">
                <h3>Pet Count</h3>
                <% if (typeof pets !== "undefined") { %>
                <h4><%= users.length %></h4>
                <% } else{%>
                <h4>0</h4>
                <% } %>
              </div>
              <div class="card-count">
                <h3>Pet Count</h3>
                <% if (typeof pets !== "undefined") { %>
                <h4><%= users.length %></h4>
                <% } else{%>
                <h4>0</h4>
                <% } %>
              </div>
              <div class="card-count">
                <h3>Pet Count</h3>
                <% if (typeof pets !== "undefined") { %>
                <h4><%= users.length %></h4>
                <% } else{%>
                <h4>0</h4>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
